<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>超市货品管理系统</title>
    <link rel="stylesheet" href="/style/bootstrap.css">
    <link rel="stylesheet" href="/style/main.css">
    <script src="/jquery321/jquery-3.2.1.min.js"></script>
    <script src="/script/main.js"></script>
</head>
<body>

<div class="jumbotron">
    <div class="container">
        <h1>XX后台管理系统</h1>
        <h2>XX Management System</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul>
                <li  class="but" id="user-list"><a href="#">用户管理</a></li>
                <li  class="but" id="user-add"><a href="#">添加用户</a></li>
                <li  class="but"><a href="#">xxxx</a></li>
                <li  class="but"><a href="#">xxxx</a></li>
                <li  class="but"><a href="#">系统管理</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <div  class="screen">
                欢迎您,<span id="usernameIpt"></span>
            </div>
            <div id="extra"></div>
        </div>
    </div>
</div>

</body>
</html>